@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.link {
  color: white; 
  text-decoration: none;
}

/* Header */
#header {
  background-color: black; 
  padding: 20px 0;
}

#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#left {
  font-size: 2rem;
}

#right {
  display: flex; 
  gap: 20px;
}

/* Shop */
#shop_board {
  width: 80%;
  margin: 40px auto;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
}

.item {
  text-align: center;
  font-size: 1.2rem;
}

img {
  max-width: 100%; 
  max-height: 100%;
  border-radius: 10px;
}

.addToCart {
  background-color: black; 
  color: white; 
  border: none; 
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1rem;
}

.addToCart:hover {
  background-color: grey;
}

.addToCart:active {
  background-color: white;
}